<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userManager" class="com.manager.impl.UserManagerImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userDao" class="com.dao.impl.UserDaoImpl"></bean>
	
	<bean id="eventManager" class="com.manager.impl.EventManagerImpl">
		<property name="eventDao" ref="eventDao"></property>
	</bean>
	<bean id="eventDao" class="com.dao.impl.EventDaoImpl"></bean>
	
	<bean id="festManager" class="com.manager.impl.FestManagerImpl">
		<property name="festDao" ref="festDao"></property>
	</bean>
	<bean id="festDao" class="com.dao.impl.FestDaoImpl"></bean>
	
	<bean id="conferenceManager" class="com.manager.impl.ConferenceManagerImpl">
		<property name="conferenceDao" ref="conferenceDao"></property>
	</bean>
	<bean id="conferenceDao" class="com.dao.impl.ConferenceDaoImpl"></bean>
	
	<bean id="workshopManager" class="com.manager.impl.WorkshopManagerImpl">
		<property name="workshopDao" ref="workshopDao"></property>
	</bean>
	<bean id="workshopDao" class="com.dao.impl.WorkshopDaoImpl"></bean>
	
	<bean id="guestLectureManager" class="com.manager.impl.GuestLectureManagerImpl">
		<property name="guestLectureDao" ref="guestLectureDao"></property>
	</bean>
	<bean id="guestLectureDao" class="com.dao.impl.GuestLectureDaoImpl"></bean>
</beans>